<ion-view title="消息" class="gray" cache-view="false">
  <ion-content>
		<div class="item" style="height:1px;padding:0;">
		  </div>
		
        <div class="button-bar button-mk" style="margin-top:-6px;margin-bottom:-6px;width:100%;">
            <a ng-class="mkFirstTab" class="button-mk" ng-click="setIndex(0);">收件箱</a>
            <a ng-class="mkSecTab" ng-click="setIndex(1);">发件箱</a>
        </div>
			
 		<div class="list"  ng-show="selection == 'first'">
  			<a ng-repeat="message in mkMyMessage | orderBy:'-created_at'" class="item item-avatar" ng-show="{{message.recipient.id}}=={{mkUserId}}" href="#">
			  <img data-ng-src="http://medku.com{{message.sendor.avatar}}" data-placeholder-img="profile_large"> 
   					<div class="row mk-sub-font2">
   					  <div class="col col-20">发件人: {{message.sendor.realname}}</div>
   					  <div class="col col-20"></div>
   					  <div class="col col-10"></div>
					   <div class="col col-20">{{message.created_at}}</div>
   					</div>
   					<div class="row">
   					  <div class="col mk-head-font">{{message.content}}</div>
   					</div>
   		    </a>
 		</div>
		
 		<div class="list"  ng-show="selection == 'second'">
     			<a ng-repeat="message in mkMyMessage | orderBy:'-created_at'" class="item item-avatar" ng-show="{{message.sendor.id}}=={{mkUserId}}" href="#">
				  <img data-ng-src="http://medku.com{{message.sendor.avatar}}" data-placeholder-img="profile_large">
      					<div class="row mk-sub-font2">
      					  <div class="col col-20">收件人 : {{message.recipient.realname}}</div>
      					  <div class="col col-20"></div>
      					  <div class="col col-10"></div>
   					   <div class="col col-20">{{message.created_at}}</div>
      					</div>
                        <div class="row">
                            <div class="col mk-head-font">{{message.content}}</div>
                        </div>
      		    </a>
 		</div>

</ion-content>
</ion-view>


