<ion-view view-title="话题" hide-tabs="true">
  <ion-content>
    <ion-list ng-repeat="topic in topics">
      <ion-item class="item-thumbnail-left" href="#tab/topic/{{topic.topicId}}">
        <img ng-src="http://medku.com{{topic.cover}}">
        <div style="padding-left: 35px; color: darkgray;">
          <h2>{{topic.title}}</h2>
          <div class="row  mk-sub-font">
            <div class="col">
              <i class="icon icon-left ion-ios-person-outline"></i>
              <span class="text">{{topic.editor}}</span>
            </div>
            <div class="col" style="padding-left: 40px;">
              <i class="icon icon-left ion-ios-eye-outline"></i>
              <span class="text">{{topic.view_count}}</span>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
