<ion-view view-title="我的评论" hide-footer-bar="true" hide-tabs="true">
  <ion-content>

    <ion-list ng-repeat="comment in mkMyComment">
      <ion-item class="item-thumbnail-left" href="#video2/{{comment.video.id}}">
        <img ng-src="{{comment.video.cover}}">
        <div style="padding-left: 35px; color: darkgray;">
          <h2>{{comment.video.title}}</h2>
          <div class="row mk-sub-font">
            <div class="col">
              <span class="text">{{comment.content}}</span>
            </div>
          </div>
          <div class="row mk-sub-font">
            <div class="col">
              <span class="text">{{comment.created_at}}</span>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
	
  </ion-content>
</ion-view>
