<ion-view  hide-nav-bar="true">
        <ion-slide-box>
          <ion-slide>
		  <img src="img/mkWelcome/welcome1.jpg" style="width:100%">
          </ion-slide>
          <ion-slide>
		  <img src="img/mkWelcome/welcome2.jpg" style="width:100%">
          </ion-slide>
          <ion-slide>

          <div class="image-container">
              <img src="img/mkWelcome/welcome3.jpg"  style="width:100%"></img>
                  
                  <div class="row">
                      <div class="col col-offset-33" ng-click="gotoMainPage()"><a class="star-button button button-outline button-mk">开 始 使 用</a></div>
                  </div>
          </div>
          </ion-slide>
        </ion-slide-box>
</ion-view>