.image-container {
    display: inline-block;
    position: relative;
}

.star-button {
    position: absolute;
    bottom: 10%;
}

/* Demo purposes only */

.mk_profile_content {
    background-color: lightgray;
}

.mk_profile_relevant {
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: lightgray;
}
.row{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin:0 0;
}

.col.mk_profile_col {
    border-top:0.5px solid lightgray;
    border-left:0.5px solid lightgray;
    border-bottom:0.5px solid lightgray;
    border-right:0.5px solid lightgray;
    background-color: white;
    text-align: center;
    padding-top: 0px;
}

.col.mk-home-col {
    border-top:0.5px solid lightgray;
    border-left:0.5px solid lightgray;
    border-bottom:0.5px solid lightgray;
    border-right:0.5px solid lightgray;
    background-color: white;
    text-align: center;
    padding-top: 0px;
    margin-top: -5px;
}

.list.list-inset.mk_profile_list {
    margin-top: 0px;
    height:90px;
}

.item.mk_profile_item_title{
    border-color: white;
    font-size: 13px;
    height:25px;
    padding-top: 10px;
}
.circle {
    width: 48px;
    height: 48px;
    background: white;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 40px;
    margin-top: 5px;
    color:#29b6eb;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mk_profile_fans {
    font-size: 12px;
}

.row.mk_basic_row {
    font-size: 12px;
    height:160px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.col.mk_basic_col {
    height:70px;
    padding-top: 0px;
    background-color: white;
    /*background-color: red;*/
}

.col.mk_basic_col .list.list-inset{
    height:40px;
    margin-top: 0px;
    background-color: yellow;
}

.list.list-inset .item {
    margin-top: 0px;
}
.card.mk_profile_card{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    background-color:white;
    height:60px;
}

.item.item-text-wrap.mk_profile_item {
    height:60px;
    margin-bottom: 0px;
    background-color: gray;
    color:white;
    text-align: center;
    font-family: "Helvetica Light", Helvetica, STHeiTi, sans-serif;
}

.mk_profile_relevant{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}
.mk_profile_body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    background-color: lightgray;
}
.home-circle-red {
    width: 40px;
    height: 40px;
    background: #ff6d6e;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 30px;
    margin-top: 15px;
    color: white;
}
.home-circle-green {
    width: 40px;
    height: 40px;
    background: #fdab01;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 30px;
    margin-top: 15px;
    color: white;
}
.home-circle-purple {
    width: 40px;
    height: 40px;
    background: #29b6eb;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 30px;
    margin-top: 15px;
    color: white;
}

.home-circle-green {
    width: 40px;
    height: 40px;
    background: #fdab01;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 30px;
    margin-top: 15px;
    color: white;
}

.home-circle-other {
    width: 40px;
    height: 40px;
    background: green;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 30px;
    margin-top: 15px;
    color: white;
}

.home-circle-share-scan {
    width: 40px;
    height: 40px;
    background: transparent;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 25px;
    color: white;
}


.message-circle-blue {
    width: 10px;
    height: 10px;
    background: #29b6eb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 7px;
}

.message-circle-badge {
    width: 20px;
    height: 20px;
    background: red;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 1px;
    color:white;
    font-size: 12px;
}

.message-circle-purple {
    width: 40px;
    height: 40px;
    background: #29b6eb;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 30px;
    margin-top: 5px;
    color: white;
}

.home-circle-badge {
    width: 16px;
    height: 16px;
    background: red;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 14px;
    margin-top: 5px;
    color: white;
}

.col.mk-message-col-icon {
    padding-top: 2px;
    margin-right: 0px;
    background-color: transparent;
    padding-right: 30px;
    padding-left: 0px;
}
.col.mk-message-col-title {
    padding-top: 15px;
    margin-left: 0px;
    background-color: transparent;
}
.message-circle-red {
    width: 40px;
    height: 40px;
    background: red;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 30px;
    margin-top: 5px;
    color: white;
}

.message-circle-purple {
    width: 40px;
    height: 40px;
    background: purple;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 1px;
    font-size: 30px;
    margin-top: 5px;
    color: white;
}

.box.mk-home-box {
    
}
.mk-message-item {
    padding-top: 0;
    padding-bottom: 0;
}
.mk-message-divider {
    border-width:1px;
    border-right-style:solid;
    border-color: lightgray;
}
.mk-profile-basic-bg .list {
    background-color: #29b6eb;
    margin-top: -1px;
    
}
.mk-profile-basic {
    background-color: #29b6eb;
    margin-top: -1px;
    border-color: #29b6eb;
    margin-left: 80px;
}
.mk-profile-icon {
    border-radius: 50%;
    width:100px;
    height:100px;
}
.mk-profile-list{
    margin-top: -20px;
    margin-bottom: -20px;
    height:60px;
    padding-top:-20px;
    padding-bottom:-20px;
}
.mk-small-text-font {
    color:gray;
}
.item .item-content {
    background-color: transparent;
}
.mk-no-vertical-padding {
    padding-top:0;
    padding-bottom:0;
}
.testWithColor{
    background-color: red;
    margin-top: -2px;
}
.orangeColor{
    color: orange;
    font-size:12px;
}
.whiteColor-smallFont{
    color: white;
    font-size:12px;
}
.whiteColor{
    color: white;
}

.mk-icon {
    border-radius: 50%;
    width:80px;
    height:80px;
}

a.item.item-thumbnail-left {
    padding-left: 150px;
}
.mk-search {
    color:#29b6eb;
    opacity: 0.7;
}
.mk-home-title
{
    color:gray;
    vertical-align:center;
    font-family: 'Helvetica Light', Helvetica, STHeiTi, sans-serif;
}
.mk-font {
    color:#29b6eb;
    font-size:15px;
    font-family: "Helvetica Light", Helvetica, STHeiTi, sans-serif;
}
.mk-head-font {
    color:black;
    font-size:14px;
    font-family: "Helvetica Light", Helvetica, STHeiTi, sans-serif;
}

.mk-sub-font {
    font-size:10px;
    color:gray;
    font-family: "Helvetica Light", Helvetica, STHeiTi, sans-serif;
}

.mk-sub-font2 {
    font-size:11px;
    color:gray;
    font-family: "Helvetica Light", Helvetica, STHeiTi, sans-serif;
}
.mk-profile-list-font {
    font-size:15px;
    color:gray;
    font-family: "Helvetica Light", Helvetica, STHeiTi, sans-serif;
}

.mk-white-font {
    color:#fff;
}
.mk-logo-font {
    color:#29b6eb;
    text-align:center;
    font-size:24px;
}

.mk-with-black-border {
    border-left:1px solid black;
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    margin-left:-15px;
}

.mk-with-blue-border {
    border-left:2px solid blue;
    border-top:2px solid blue;
    border-bottom:2px solid blue;
    border-right:2px solid blue;
}

.mk-with-red-border {
    border-left:2px solid red;
    border-top:2px solid red;
    border-bottom:2px solid red;
    border-right:2px solid red;
}
.mk-with-no-border {
    border:0px solid white;
}




.error-container {
    margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}

.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}

.last-error-container > .error {
    padding: 10px 16px 0;
}

.has-errors {
    border-bottom: 3px solid #B83E2C;
}

.no-errors {
    border-bottom: 3px solid green;
}






body {
    background-color:#ccc;
}
.wrapper {
    z-index:1;
}
.popover-test {
    background-color: green;
    border: 1px solid red;
    position: relative;
    background-repeat: no-repeat;
}
.popover-test::before {
    background-image: url("../img/ionic2.png");
    top:-18px;
    content:"";
    height: 50px;
    left: 170px;
    width: 50px;
    position: absolute;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    z-index:1;
}

.popover-test::after {
    background-image: url("http://www.w3schools.com/cssref/paper.gif");
    top: -15px;
    content:"";
    height: 30px;
    left: 170px;
    width: 30px;
    z-index:2;
}





.fake-statusbar {
    height: 20px;
    max-height: 20px;
    font-size: 12px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    color: #fff;
    padding: 2px 3px 3px 3px;
    border:1px red solid;
}
.fake-statusbar .time {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.fake-statusbar .pull-left { float: left; }
.fake-statusbar .pull-right { float: right; }


h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }


.platform-ios .bar-header {
    height: 64px !important;
}
.platform-ios .bar-header > *{
    margin-top: 20px !important;
}
.platform-ios ion-content > *{
    margin-top: 20px;
}

.platform-ios .cc-video {
    width:100%;
    height:350px;
    margin-left:-15px;
    margin-top:-120px;
}
.platform-android .cc-video {
    width:100%;
    height:350px;
    margin-top:-60px;
}
