<ion-view title="动态">
    <ion-content class="has-header">
    <ion-refresher
        pulling-text="正在更新..."
        on-refresh="doRefresh()">
    </ion-refresher>
	
        <ion-list >
            <ion-item ng-repeat="dynamic in dynamics" class="item-avatar-left">
              <img data-ng-src="http://medku.com{{dynamic.user.avatar}}" data-placeholder-img="profile_large"> 
			  <div>
                <span class="mk-sub-font">{{dynamic.created_at}}</span>
                <p class="mk-head-font">{{dynamic.user.realname}}&nbsp;&nbsp;&nbsp;&nbsp;{{dynamic.title}}</p>
                <!-- <div class="row">
                  <a class="button button-clear button-small icon-left ion-ios-redo-outline ">转发</a>
                  <a class="button button-clear button-small icon-left ion-ios-chatbubble-outline " style="padding-left: 20px;">评论</a>
                  <a class="button button-clear button-small icon-left ion-ios-heart-outline " style="padding-left: 20px;">收藏</a>
                  <a class="button button-clear button-small icon-left ion-thumbsup "style="padding-left: 20px;">点赞</a>
                </div>
					-->
              </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>