<ion-view view-title="登录账户" hide-nav-bar="true">
    <ion-content style="background:url(img/login-background.png)"  scroll="false">
        <div class="row" style="margin-top:20px;">
            <div class="col col-offset-33"><img ng-src="img/logo.png" width＝"120px" height="120px" /></div>
        </div>
        <div class="list">
            <label class="item item-input"  style="background-color:transparent;border:0 white solid;border-bottom:1px white solid;height:50px;margin-left:15px;margin-right:15px;">
                <span class="input-label" style="color:white;margin-left:-20px;width:10px">
                    <i class="icon ion-android-phone-portrait button-large" style="margin-left:-5px;"></i>&nbsp;&nbsp;
                </span>
                <input type="tel" ng-model="loginObj.phonenum"  style="color:white;" placeholder="请输入手机号">
                    </label>
            <label class="item item-input"   style="background-color:transparent;border:0 white solid;border-bottom:1px white solid;height:50px;margin-left:15px;margin-right:15px;">
                <span class="input-label"  style="color:white;margin-left:-20px;width:10px">
                    <i class="icon ion-android-textsms  button-large" style="margin-left:-5px;"></i>
                </span>
                <input type="password" ng-model="loginObj.mkPassword"  style="color:white;" placeholder="请输入密码">
                    </label>
        </div>
        <div class="padding">
            <button class="button button-block button-mk" ng-click="submit(loginObj)">
		              登&nbsp;&nbsp;&nbsp;&nbsp;录
            </button>

            <div class="row"  style="background-color:transparent;">
                <div class="col" style="text-align:center;">
                    <a href="#/mkSignUp" class="button mk-sub-font" style="background-color:transparent;border:0px transparent solid;color:white">
                        没有账号?注册
                    </a>
                </div>
            </div>
            
        </div>
    </ion-content>
</ion-view>
