<ion-view title="{{topic.title}}" hide-tabs="true">
  <ion-content>
    <div class="list">
        <a class="item mk-font">
            {{topic.title}}
        </a>
        
        <div class="item" style="padding-top:0;padding-bottom:0;">
            <span class="mk-head-font">{{topic.editor}}&nbsp;&nbsp;</span>
            <span class="mk-sub-font">发布到&nbsp;&nbsp;</span>
            <span class="mk-head-font">{{topic.source}}</span>
        </div>

        <a class="item mk-sub-font item-text-wrap" style="border:0 white solid;border-top:1px solid lightgray;border-bottom:1px solid lightgray;">
            &nbsp;&nbsp;&nbsp;&nbsp;{{topic.content}}
        </a>
        
        <div class="item mk-sub-font" style="padding-top:0;padding-bottom:0;">
            <span class="mk-head-font">{{topic.view_count}}&nbsp;&nbsp;</span>
            <span class="mk-sub-font">次浏览</span>
        </div>
        
    </div>
  </ion-content>
</ion-view>
