<ion-view title="">
    <ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-mk" ng-class="{'tabs-item-hide': $root.hideTabs}">
        <ion-tab title="{{homeTabName}}" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{dynamicTabName}}" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline"  href="#/tab/dynamic">
			<ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{messageTabName}}" badge-style="badge-assertive" icon-on="ion-ios-email" icon-off="ion-ios-email-outline" href="#/tab/message">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{settingTabName}}" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tab/profile">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
<!--class="popover-test" -->
